<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <nav>
        <a href="/products/new">Add New Product </a>
    </nav>
    <h1>Our Products</h1>
        <% products.forEach(product => { %>
            <div class="productsList">
                <%=product.name %>
                <a href="/products/<%=product._id; %>">
                    <img class="image" src="<%=product.img %>" alt=<%=product.name %>>
                </a>
            </div>
        <% }) %>
</body>
</html>